<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="more" (click)="presentPopover($event)"></ion-icon>
    </ion-buttons>
    <ion-title>Converter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{1 | currency: baseCur: '': '1.0'}} {{baseCur}} equals</ion-card-subtitle>
            <ion-card-title>{{(1 * baseToConv) | currency: convertTo: '': '1.2-4'}} {{convertTo}}</ion-card-title>
          </ion-card-header>

          <ion-item-divider>
            <ion-label color="primary">{{date | date: 'mediumDate'}}</ion-label>
          </ion-item-divider>
          
          <ion-card-content class="ion-padding">
            <ion-item>
              <ion-label position="floating">{{baseCur | currencyName}}</ion-label>
              <ion-input #base autofocus type="number" clear-input step="1" (ionInput)="convert.value = baseChanged(base.value)"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{convertTo | currencyName}}</ion-label>
              <ion-input #convert type="number" clear-input step="1" (ionInput)="base.value = convertChanged(convert.value)"></ion-input>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
