<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{currency | currencyName}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable (ionChange)="segmentChanged($event)" value="week" #segment class="ion-justify-content-center">
      <ion-segment-button value="week">
        <ion-label>Week</ion-label>
      </ion-segment-button>
      <ion-segment-button value="month">
        <ion-label>Month</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sixMonths">
        <ion-label>6 Months</ion-label>
      </ion-segment-button>
      <ion-segment-button value="year">
        <ion-label>Year</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-padding-vertical">
      <ion-col size-lg="8" offset-lg="2" size-xl="6" offset-xl="3" class="ion-padding-horizontal">
        <div class="chart-container" [ngClass]="{'chart-border': points}">
          <canvas #canvas id="chart"></canvas>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom">
      <ion-col size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
        <ion-card *ngIf="points">
          <ion-card-header>
            <ion-card-title>{{currency}} against the {{base}}</ion-card-title>
          </ion-card-header>
    
          <ion-item-divider>
            <ion-label color="primary">Since {{segment.value === 'sixMonths' ? '6 months ago' : 'last ' + segment.value}}</ion-label>
          </ion-item-divider>
    
          <ion-card-content class="ion-padding">
            <ion-item>
              <ion-label>High</ion-label>
              <ion-chip slot="end" color="success">
                <ion-label>{{points.high | currency: currency: 'symbol-narrow': '1.2-4'}}</ion-label>
              </ion-chip>
            </ion-item>
            <ion-item>
              <ion-label>Low</ion-label>
              <ion-chip slot="end" color="warning">
                <ion-label>{{points.low | currency: currency: 'symbol-narrow': '1.2-4'}}</ion-label>
              </ion-chip>
            </ion-item>
            <ion-item>
              <ion-label>Average</ion-label>
              <ion-chip slot="end" color="secondary">
                <ion-label>{{points.average | currency: currency: 'symbol-narrow': '1.2-4'}}</ion-label>
              </ion-chip>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>