<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="!isSearchbarOpen; then defaultToolbar"></ng-container>
    <ng-template #defaultToolbar>
      <ion-title>Ion Currency</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="menu.openMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="isSearchbarOpen = true">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>
    
    <ion-searchbar 
      #searchbar
      placeholder="Currency code"
      showCancelButton="always"
      [searchLimit]="3"
      [hidden]="!isSearchbarOpen"
      (ionCancel)="isSearchbarOpen = false"
      (ionInput)="searchbar.value = $event.target.value.toUpperCase()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<app-menu></app-menu>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label>Base currency</ion-label>
      <ion-select interface="action-sheet" [placeholder]="defaultCurrency | currencyName" [(ngModel)]="defaultCurrency" (ionChange)="getLatestRates()">
        <ion-select-option *ngFor="let currency of currencies" value="{{currency}}">{{currency | currencyName}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list>
      <ion-item button detail *ngFor="let rate of latest.rates | filterCurrency: searchbar.value | keyvalue" [routerLink]="['/currency-info', rate.key]">
        <ion-avatar slot="start">
          <ion-img [src]="getFlag(rate.key)"></ion-img>
        </ion-avatar>
        <ion-label>{{rate.value | currency: rate.key: 'symbol-narrow': '1.2-4'}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-item text-center lines="none" *ngIf="!searchbar.value">
      <ion-label color="primary">{{latest.date | date: 'mediumDate'}}</ion-label>
    </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
    <ion-fab-button routerLink="/converter">
      <ion-icon name="calculator"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
