<ion-menu side="start" menuId="side">
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-img src="../../../assets/shapes.svg"></ion-img>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item button routerLink="/settings">
        <ion-icon slot="start" name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
      <ion-item button routerLink="/about">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        <ion-label>About</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-router-outlet main></ion-router-outlet>
</ion-menu>
